# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. r
3. SQL
4. java

Some of the commonly used libraries used by Data Scientists include:
* nympy
* pandas
* matplotlib

|Data Science Tools|
|------------------|
|SQL|
|python|
|r|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives**
* to learn python
* to learn r
* to learn ML

## Author
Aashish Subedi